NEXT_PUBLIC_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=68d13a4a000d854004b3
# Server-only key: users.read, users.write, sessions.write
APPWRITE_API_KEY=
APP_URL=http://localhost:3000
APPWRITE_DATABASE_ID=mio
APPWRITE_NOTES_TABLE_ID=notes
APPWRITE_ATTACHMENTS_TABLE_ID=attachments
APPWRITE_ATTACHMENTS_BUCKET_ID=68d143bf001b9a793c30
